<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/loanPrediction">Loans</a></td>
        <td><a href="{{site.baseurl}}/strokePrediction">Stroke</a></td>
        <td><a href="{{site.baseurl}}/sleep">Sleep</a></td>
        <td><a href="{{site.baseurl}}/heart">Heart</a></td>
        <td><a href="{{site.baseurl}}/badminton">badminton</a></td>
        <td><a href="{{site.baseurl}}/editor">image_editor</a></td>
        <td><a href="{{site.baseurl}}/games1">poker</a></td>
        <td><a href="{{site.baseurl}}/games2">blackjack</a></td>
        <td><a href="{{site.baseurl}}/games">baccarat</a></td>

    </tr>
</table>